.fontMontserrat {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000; /* Fondo negro para contraste */
    font-family: 'Montserrat', sans-serif; /* Aplicar la fuente Montserrat */
}

.card {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #333;
    width: 350px;
}

.title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00bfff;
}

.title::before {
    width: 18px;
    height: 18px;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    font-family: 'Montserrat', sans-serif; 
}

.inputContainer {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
}

.icon {
    margin-right: 0.5rem;
    color: #6a1b9a; 
}

.input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
}

.input:focus {
    border-color: #6a1b9a; 
}

.passwordContainer {
    position: relative;
    width: 100%;
}

.passwordToggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.button {
    padding: 0.5rem 1rem;
    background-color: #6a1b9a; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
}

.button:hover {
    background-color: #4a148c;
}

.error {
    color: red;
    margin-bottom: 1rem;
}

.message {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
}

.welcomeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form label {
    position: relative;
    width: 100%; 
}

.form label .input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 18px 4px; 
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    margin-bottom: 20px; 
    box-sizing: border-box; 
    display: flex;
    align-items: center; 
}

.form label .input:hover {
    border-color: #00bfff; /* Cambiar el color del borde al pasar el cursor */
    box-shadow: 0 0 5px #00bfff; /* Añadir un efecto de sombra azul */
}

.form label .input:focus {
    border-color: #00bfff; 
    box-shadow: 0 0 5px #00bfff; 
}

.form label .input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 1.2em;
    cursor: text;
    transition: 0.3s ease;
    width: calc(100% - 20px); 
}

.form label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
    color: #00bfff;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
}

.submit {
    border: none;
    outline: none;
    padding: 18px 4px; 
    border-radius: 10px;
    color: #fff; 
    font-size: 16px;
    transform: .3s ease;
    background: linear-gradient(45deg, #00bfff, #1a1a1a); 
    width: 100%; 
    box-sizing: border-box; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-top: 10px; 
}

.submit:hover {
    background: linear-gradient(45deg, #00bfff96, #1a1a1a96);
    box-shadow: 0 0 10px #00bfff; 
}

.btnRegresar {
    background: linear-gradient(45deg, #ff6347, #1a1a1a); 
}

.btnRegresar:hover {
    background: linear-gradient(45deg, #ff634796, #1a1a1a96); 
    box-shadow: 0 0 10px #ff6347; 
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}
